@charset "utf-8";

$darker-factor: 15%;
$lighter-factor: 15%;

$background-color: #f0f3f6;
$primary-color: #938ee1;
$primary-color-darker: darken($primary-color, $darker-factor);
$primary-color-lighter: lighten($primary-color, $lighter-factor);
$secondary-color: #182a42;
$ternary-color: #475965;

:root {
    --background-color: #{$background-color};
    --primary-color: #{$primary-color};
    --primary-color-darker: #{$primary-color-darker};
    --primary-color-lighter: #{$primary-color-lighter};
    --secondary-color: #{$secondary-color};
    --ternary-color: #{$ternary-color};
}
