<template>
    <Modal
        :disabled="!isShow"
        :close="closeModal"
    >
        <div class="modal">
            <p>{{ store.getLocalisedString(currentTexts.title) }}</p>
            <div class="ref" v-for="(refSelected, baseIndex) in refsSelected" :key="baseIndex">
                    <div
                        class="ref-icon"
                        @click="refSelected.showSelector = !refSelected.showSelector"
                        :style="'background-image:url(' + refSelected.ref.icon + ')'"
                        v-tooltip.top-center="showRefName(refSelected.ref.name)"
                    >
                        <animslide v-if="refSelected.showSelector">
                            <div class="ch-ref">
                                <div
                                    v-for="(ref, index) in refs" :key="index"
                                    :style="'background-image:url(' + ref.icon + ')'"
                                    class="ref-select ref-icon"
                                    @click.self.stop="changeRef(refSelected, index)"
                                    v-tooltip.top-center="showRefName(ref.name)"
                                >
                                </div>
                            </div>
                        </animslide>
                    </div>
                    <input v-if="refSelected.ref.name != localRef.name" type="text"
                        :placeholder="store.getLocalisedString(currentTexts.refCode)"
                        v-model="refSelected.code"/>
                    <select v-else v-model="refSelected.code">
                        <option :value="null" selected>-- {{ store.getLocalisedString(currentTexts.choseCard) }} --</option>
                        <option v-for="card in localCards" :key="card" :value="card">{{ card }}</option>
                    </select>
                    <input type="number"
                        :placeholder="store.getLocalisedString(currentTexts.nbRefIteration)"
                        v-model="refSelected.iteration"/>
                    <span class="icon">
                        <font-awesome-icon
                            icon="times"
                            :title="store.getLocalisedString(currentTexts.removeRef)"
                            @click="removeRef(baseIndex)"
                        />
                    </span>
            </div>
            <button @click="importRefs()">{{ store.getLocalisedString(currentTexts.importRef) }}</button>
            <button @click="addNewRef(nullRef)">{{ store.getLocalisedString(currentTexts.addRef) }}</button>
            <button @click="closeModal">{{ store.getLocalisedString(currentTexts.ignore) }}</button>
        </div>
    </Modal>
</template>
<script>
import { store } from "../assets/js/Store.js";
import { refs } from "../assets/js/RefsData.js";
import animslide from "./Animslide.vue";
import { allSeparators, defaultValues, typeExpectedShort } from '../assets/js/Parse.js';
import { getCardsAvailable } from '../assets/js/Card.js';
import { texts } from '../assets/js/Localisation.js';
export default {
    props: ["showing"],
    components: { animslide },
    data() {
        return {
            refsData: refs,
            store: store,
            isShow: this.showing,
            refsSelected: [],
            refs: [],
            nullRef: null,
            localRef: null,
            currentTexts : texts.components.bundleHelper
        }
    },
    created() {
        this.nullRef = {
            icon: "./assets/img/default.png",
            name: this.store.getLocalisedString(this.currentTexts.selectProvider)
        };
        this.localRef = {
            icon: "./assets/img/local.png",
            name: this.store.getLocalisedString(this.currentTexts.localRef)
        }
        for (let key in this.refsData)
            this.refs.push({
                icon: this.refsData[key].icon,
                name: key
            });
        if (this.localCards.length > 0)
            this.refs.push(this.localRef);
        this.addNewRef(this.nullRef);
    },
    methods: {
        importRefs() {
            let location = "?";
            this.refsSelected.forEach(ref => {
                let iteration = parseInt(ref.iteration);
                if (ref.code != null && ref.code.length > 0) {
                    location += location.length != 1 ? allSeparators.separator : '';
                    if (ref.ref.name in this.refsData)
                        location += typeExpectedShort.distant + allSeparators.type + ref.ref.name + allSeparators.type + ref.code;
                    else if (ref.ref.name == this.localRef.name)
                        location += typeExpectedShort.local + allSeparators.type + ref.code;
                    location += (iteration > defaultValues.quantity ?
                            (allSeparators.quantity + iteration) : "");
                }
            });
            if (location != "")
                window.location = location;
        },
        showRefName(name) {
            return name[0].toUpperCase() + name.slice(1, name.length);
        },
        changeRef(selectedRef, indexOfRef) {
            selectedRef.ref = {
                icon: this.refs[indexOfRef].icon,
                name: this.refs[indexOfRef].name
            };
            selectedRef.showSelector = false;
        },
        addNewRef(ref) {
            this.refsSelected.push({
                ref: {
                    icon: ref.icon,
                    name: ref.name
                },
                code: null,
                iteration: null,
                showSelector: false
            });
        },
        removeRef(refIndex) {
            this.refsSelected[refIndex] = null;
            this.refsSelected = this.refsSelected.filter(ref => ref != null);
            if (this.refsSelected.length == 0)
                this.isShow = false;
        }
    },
    computed: {
        closeModal() {
            return () => {this.isShow = false};
        },
        localCards() {
            return getCardsAvailable();
        }
    }
}
</script>
<style lang="scss" scoped>
.ref {
    > * {
        display: inline-block;
        padding: 0.5em;
    }
    input {
        width: 15em;
    }
    .ref-icon {
        width: 50px;
        height: 50px;
        background-size: 50px;
        margin: 5px;
    }
    .ch-ref {
        position: relative;
        top: 25px;
        right: 25px;
        * {
            display: inline-block;
            padding: 0.5em;
        }
    }
}
</style>