<template>
    <div :class="child === 3 && c.get ? 'getIt' : ''">
        <div
            class="flex-box card"
            :class="(child === 1 || child === 3) && isCraft() ? 'card-recipe' : ''"
        >
            <div class="flex-box">
                <a v-if="c.craftData != null" :href="c.craftData.link" target="_blank">
                    <CardIcon :cBase="c"/>
                </a>
                <CardIcon v-else :cBase="c"/>
                <div class="flex-col info">
                <div class="base-flex-box primary">
                    <img
                        :title="store.getLocalisedString(rarity.find(x => x.id === c.rarity).name)"
                        :src="'./assets/img/rarity/' + c.rarity + '.png'"
                    />
                    {{ c.name[store.lang] }}
                    <template v-if="child === 3 || child === 2">x{{ c.qt }}</template>
                </div>
                <span v-if="isCraft()" class="secondary">
                    {{ store.getLocalisedString(texts.common.lvl) }} {{ c.lvl }} -
                    {{ store.getLocalisedString(jobs.find(x => x.id === c.job).name) }} -
                    {{ c.xp }} XP
                </span>
                <span v-if="child === 2 && !isCraft()" class="secondary">
                    {{ store.getLocalisedString(types.find(x => x.id === c.type).name) }}
                </span>
                </div>
            </div>
            <div class="right">
                <span class="icon"
                    v-if="
                        (child === 1 || child === 3) &&
                        isCraft() &&
                        c.ingredients.length > 1
                    ">
                    <font-awesome-icon
                        icon="swatchbook"
                        :title="store.getLocalisedString(currentTexts.switchRecipe)"
                        @click="c.switchRecipe()"
                    />
                </span>
                <input
                    v-if="child === 1"
                    type="number"
                    v-model="val"
                    min="1"
                    max="999"
                    @value="this.val"
                    @change="checkQt(c)"
                />
                <a
                    v-if="child === 2"
                    :href="store.getLocalisedString(currentTexts.encyclopediaLink).replace(identifiers.id, c.id)"
                    target="_blank"
                >
                    <span class="icon">
                        <font-awesome-icon
                            icon="link"
                        />
                    </span>
                </a>
                <span class="icon"
                    v-if="child === 3">
                    <font-awesome-icon
                        :icon="!c.get ?
                            isCraft() ? 'thumbs-down' : 'check-circle' :
                            isCraft() ? 'thumbs-up' : 'times-circle'"
                        :title="store.getLocalisedString(isCraft() ? currentTexts.showRecipe : currentTexts.checkComposant)"
                        @click="c.toggleGet()"
                    />
                </span>
                <span class="icon"
                    v-if="child === 3 && isCraft(true) && hasIngredient">
                    <font-awesome-icon
                        icon="exchange-alt"
                        :title="store.getLocalisedString(currentTexts.considerCraftAsComponent)"
                        @click="c.toggleConsiderAsIngredient()"
                    />
                </span>
                <span class="icon"
                    v-if="child === 2">
                    <font-awesome-icon
                        icon="check-circle"
                        :title="store.getLocalisedString(currentTexts.checkComposant)"
                        @click="store.dataStorage.removeIngredient(c)"
                    />
                </span>
                <span class="icon"
                    v-if="child === 1 && hasIngredient"
                    :style="!show ? 'transform:rotate(0.75turn)' : ''">
                    <font-awesome-icon
                        icon="chevron-circle-down"
                        :title="store.getLocalisedString(currentTexts.showRecipe)"
                        @click="show = !show"
                    />
                </span>
                <span class="icon"
                    v-if="child === 1">
                    <font-awesome-icon
                        icon="times-circle"
                        :title="store.getLocalisedString(currentTexts.removeItem).replace(identifiers.item, c.name[store.lang])"
                        @click="store.dataStorage.list.remove(c)"
                    />
                </span>
                <span class="icon"
                    v-if="child === 0">
                    <font-awesome-icon
                        icon="cart-arrow-down"
                        :title="store.getLocalisedString(currentTexts.addCraft).replace(identifiers.item, c.name[store.lang])"
                        @click="store.dataStorage.list.add(c)"
                    />
                </span>
            </div>
        </div>
        <template v-if="isCraft()">
            <animslide>
                <div
                    v-if="(child === 1 && show === true) || (child === 3 && !c.get)"
                    class="card-little"
                >
                    <card
                        :cBase="cr"
                        :child="3"
                        v-for="cr in c.ingredients[c.recipeSelected]"
                        :key="cr.id"
                    ></card>
                </div>
            </animslide>
        </template>
    </div>
</template>

<script>
import { store } from "../assets/js/Store.js";
import animslide from "./Animslide.vue";
import CardIcon from "./CardIcon.vue";
import { texts, identifiers, types, jobs, rarity } from '../assets/js/Localisation.js';
import { Craft } from '../assets/js/Craft.js';
import { Ingredient } from '../assets/js/Ingredient.js';
export default {
    name: "Card",
    components: { animslide, CardIcon },
    props: ["cBase", "child", "showBase"],
    data() {
        return {
            store: store,
            val: this.cBase.qt,
            c: this.cBase,
            show: this.showBase,
            currentTexts: texts.components.card,
            texts: texts,
            identifiers: identifiers,
            types: types,
            jobs: jobs,
            rarity: rarity
        };
    },
    computed: {
        hasIngredient() {
            return this.c instanceof Craft && this.c.ingredients[this.c.recipeSelected].length > 0;
        },
    },
    methods: {
        checkQt(c) {
            if (this.val <= 0 || this.val > 999 || this.val === "")
                this.val = 1;
            c.changeQt(this.val);
        },
        isCraft(ignoreIfCraftAreConsideredLikeComponent) {
            if (this.c instanceof Craft) {
                return ignoreIfCraftAreConsideredLikeComponent || this.c.isCraft();
            } else if (this.c instanceof Ingredient) {
                return this.c.isCraft();
            // For json data witout any transformation
            } else {
                return this.c.job !== 0;
            }
        },
    }
};
</script>

<style lang="scss" scoped>
.card {
    background: var(--background-color);
    margin-top: 5px;
    border-radius: 5px;
    padding: 3px 10px 3px 5px;
}

.card-recipe {
    background: var(--primary-color-lighter);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-recipe i:hover {
    color: rgb(0, 0, 0);
}

.info {
    margin-left: 8px;
}

.primary {
    justify-content: flex-start;
    line-height: 1.5rem;
}

.primary img {
    width: 0.9rem;
    margin-right: 5px;
}

.secondary {
    font-size: 0.9rem;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right input {
    margin-right: 5px;
    margin-left: 10px;
    width: 55px;
    height: 30px;
}

.right input:focus,
.right a:focus {
    border: none;
    outline: none;
}

.card-little {
    border-left: var(--primary-color-lighter) 2px solid;
    padding-left: 7px;
    padding-top: 5px;
    margin-top: -5px;
}

.card-little .card {
    padding: 0px 0;
    padding-right: 10px;
}

.card-little .item-img {
    width: 27px;
    height: 27px;
}

.card-little,
.card-little .secondary {
    font-size: 0.85rem;
    line-height: 1rem;
}

.card-little img {
    width: 0.8rem;
}

.getIt {
    filter: grayscale(100%);
}
</style>


