<template>
    <div
        class="item-img flex-box"
        :style="
        'background-image:url(\'' + asset + '\')'
        "
    >
        <p v-if="c.job !== 0 && c.upgrade">
            <span class="icon icon-only">
                <font-awesome-icon
                    icon="arrow-up"
                />
            </span>
        </p>
        <p v-if="c.job !== 0 && c.nb > 1">x{{ c.nb }}</p>
    </div>
</template>
<script>
    export default {
        name:"CardIcon",
        props: ["cBase"],
        data() {
            return {
                c: this.cBase,
            };
        },
        computed: {
            asset() {
                return !('' + this.c.img).startsWith('http') ?
                    ('https://vertylo.github.io/wakassets/items/' + this.c.img + '.png') :
                    this.c.img;
            }
        }
    };
</script>
<style scoped>
.item-img {
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35px;
    height: 35px;
}

.item-img p,
.item-img i {
    position: relative;
    font-size: 0.7rem;
    top: -3px;
    left: -5px;
}
</style>