<template>
    <section>
        <div class="section-head">
            <h2>{{store.getLocalisedString(currentTexts.title)}}</h2>
        </div>
        <div class="section-body">
            <div class="toolbar flex-box">
                <p v-if="store.dataStorage.list.crafts.length === 0">{{store.getLocalisedString(currentTexts.noRecipe)}}</p>
                <p v-else>{{getQt}} {{store.plurial(getIng.length > 1, store.getLocalisedString(texts.common.resource))}}</p>
                <div v-if="store.dataStorage.list.crafts.length > 0">
                    <a
                        :href="dlCsv" target="_blank" :title="store.getLocalisedString(currentTexts.exportCsv)" download="shopping.csv" 
                    >
                        <span class="icon">
                            <font-awesome-icon icon="file-excel" class="icon" />
                        </span>
                    </a>
                    <a
                        :href="dlTxt" target="_blank" :title="store.getLocalisedString(currentTexts.exportTxt)" download="shopping.txt" 
                    >
                        <span class="icon">
                            <font-awesome-icon icon="file-alt" class="icon" />
                        </span>
                    </a>
                    <span class="icon">
                        <font-awesome-icon
                            icon="copy"
                            :title="store.getLocalisedString(currentTexts.copyLink)"
                            @click="copyLink()" />
                    </span>
                    <a
                        :href="getLink" target="_blank" :title="store.getLocalisedString(currentTexts.openLink)"
                    >
                        <span class="icon">
                            <font-awesome-icon icon="share" class="icon" />
                        </span>
                    </a>
                    <span class="icon">
                        <font-awesome-icon
                            icon="save"
                            :title="store.getLocalisedString(currentTexts.localSave)"
                            @click="showSaveDialog = true"
                        />
                    </span>
                    <Modal
                        :disabled="!showSaveDialog"
                        :close="closeSaveDialog"
                    >
                        <div class="modal">
                            <p>{{ store.getLocalisedString(cardDialogTexts.title) }}</p>
                            <div v-if="!cardSaved && !errorOccured">
                                <input
                                    type="text"
                                    v-model="nameCard"
                                    @input="checkNameCard()"
                                    :placeholder="store.getLocalisedString(cardDialogTexts.placeholder)"
                                />
                                <p>
                                    <label class="switch">
                                        <input type="checkbox" v-model="autoSaveEnabled">
                                        <span class="slider round"></span>
                                    </label>
                                    <span>{{ store.getLocalisedString(cardDialogTexts.enableAutoSave) }}</span>
                                </p>
                                <p><a v-if="nameIsValid && !nameAvailable && !warnUseless" target="_blank"
                                    :href="linkOfCard">{{ store.getLocalisedString(cardDialogTexts.warnReplaceCard) }}</a></p>
                                <p v-if="!nameIsValid">
                                    <span v-if="this.nameCard.length == 0">{{ store.getLocalisedString(cardDialogTexts.nameRequired) }}</span>
                                    <span v-else>{{ this.store.getLocalisedString(this.cardDialogTexts.nameMustContainNoSeparators)
                                        .replace(identifiers.separators, this.listOfSeparators) }}</span>
                                </p>
                                <button
                                    :disabled="!nameIsValid" @click="saveCard()"
                                >{{ store.getLocalisedString(
                                        nameIsValid ? 
                                            this.nameAvailable || warnUseless ? cardDialogTexts.save :
                                            cardDialogTexts.replace :
                                        cardDialogTexts.nameInvalid) }}</button>
                                <button @click="closeSaveDialog()">{{ store.getLocalisedString(cardDialogTexts.cancel) }}</button>
                            </div>
                            <div v-else>
                                <p v-if="cardSaved && !errorOccured">{{ store.getLocalisedString(cardDialogTexts.cardLink) + ' : ' }}<a
                                    target="_blank" :href="cardShortLink">{{ cardShortLink }}</a></p>
                                <p v-else>{{ store.getLocalisedString(cardDialogTexts.saveFailedAndWhy) }}</p>
                                <button @click="closeSaveDialog()">{{ store.getLocalisedString(cardDialogTexts.close) }}</button>
                            </div>
                        </div>
                    </Modal>
                </div>
            </div>
            <card :cBase="i" :child="2" v-for="i in getIng" :key="i.id + '-' + i.qt"></card>
        </div>
    </section>
</template>

<script>
import { store } from "../assets/js/Store.js";
import card from "./Card.vue";
import { getArgOfCard, getCardsAvailable } from '../assets/js/Card.js';
import { argsForArrayOfSimpleCraft, containSeparator, allSeparators } from '../assets/js/Parse.js';
import { texts, rarity, identifiers } from '../assets/js/Localisation.js';
export default {
    name: "Shop",
    components: { card },
    data() {
        return {
            store: store,
            showSaveDialog: false,
            nameCard: null,
            nameAvailable: false,
            cardSaved: false,
            errorOccured: false,
            autoSaveEnabled: null,
            texts: texts,
            currentTexts: texts.components.shop,
            cardDialogTexts: texts.components.shop.modalSaveCard,
            identifiers: identifiers,
            listOfSeparators: ''
        };
    },
    mounted() {
        this.nameCard = this.store.dataStorage.saveInstruction != null ? this.store.dataStorage.saveInstruction.name : '';
        this.autoSaveEnabled = this.store.dataStorage.saveInstruction != null ? this.store.dataStorage.saveInstruction.autoSave : false;
        Object.values(allSeparators).forEach(value => this.listOfSeparators += ' \'' + value + '\'');
    },
    computed: {
        getIng() {
            let arr = [];
            this.store.dataStorage.list.crafts.forEach(el => {
                el.getMats(arr);
            });
            return arr.sort(function(a, b) {
                return a.type - b.type;
            });
        },

        getQt() {
            let allQt = 0;
            this.getIng.forEach(el => {
                allQt += el.qt;
            });
            return allQt;
        },

        dlTxt() {
            let stringify = "";
            this.getIng.forEach(el => {
                stringify += el.getLocalisedString(this.store) + "\n";
            });
            stringify += "\n\n";
            this.store.dataStorage.list.crafts.forEach(el => {
                stringify += el.getStep(this.store) + '\n';
            });
            let data = new Blob([stringify], { type: "text/plain" });
            return window.URL.createObjectURL(data);
        },

        dlCsv() {
            let stringify = "";
            this.getIng.forEach(el => {
                stringify +=
                    this.store.getLocalisedString(el.name) +
                    "," +
                    el.qt +
                    "," +
                    this.store.getLocalisedString(rarity.find(x => x.id === el.rarity).name) +
                    "\n";
            });
            stringify = "\uFEFF" + stringify;
            let data = new Blob([stringify], { type: "text/csv" });
            return window.URL.createObjectURL(data);
        },

        getLink() {
            return '?' + argsForArrayOfSimpleCraft(this.store.dataStorage.list.getAllSimpleCraft());
        },

        closeSaveDialog() {
            return () => {
                this.showSaveDialog = false;
                this.cardSaved = false;
                this.errorOccured = false;
            };
        },

        warnUseless() {
            return this.store.dataStorage.saveInstruction != null && (this.store.dataStorage.saveInstruction.name == this.nameCard);
        },

        nameIsValid() {
            return this.nameCard != null && this.nameCard.length != 0 && !containSeparator(this.nameCard);
        },

        linkOfCard() {
            let args = getArgOfCard(this.nameCard);
            return args != null ? '?' + args : '';
        },

        cardShortLink() {
            return '?local:' + this.nameCard;
        }
    },
    methods: {
        checkNameCard() {
            let nameAvailable = true;
            if (this.nameCard.length != 0)
                getCardsAvailable().forEach(cardName => {
                    if (nameAvailable)
                        nameAvailable = cardName != this.nameCard;
                });
            this.nameAvailable = nameAvailable;
        },
        saveCard() {
            this.errorOccured = this.store.dataStorage.list.save(this.nameCard) != null;
                this.store.dataStorage.disableAutoSave();
            if (!this.errorOccured) {
                this.cardSaved = true;
                if (this.autoSaveEnabled)
                    this.store.dataStorage.enableAutoSave(this.nameCard);
                else
                    this.store.dataStorage.disableAutoSave(this.nameCard);
            }
        },
        async copyLink() {
            let originalDocument = window.location.toString();
            if (window.location.search != null) {
                originalDocument = originalDocument.substring(0, originalDocument.length - window.location.search.length);
            }
            let link = originalDocument + this.getLink;
            await navigator.clipboard.writeText(link);
        }
    }
};
</script>
