<template>
    <section>
        <div class="section-head">
            <h2>{{store.getLocalisedString(currentTexts.recipeList)}}</h2>
        </div>
        <div class="section-body">
            <div class="toolbar flex-box">
                <p v-if="store.dataStorage.list.crafts.length === 0">{{store.getLocalisedString(currentTexts.noRecipe)}}</p>
                <p v-else>{{store.dataStorage.list.crafts.length}} {{store.plurial(store.dataStorage.list.crafts.length > 1, store.getLocalisedString(texts.common.recipe))}}</p>
                <div>
                <span class="icon"
                    v-if="store.dataStorage.refs.length > 0 && store.dataStorage.list.crafts.length > 0">
                    <font-awesome-icon
                        :icon="store.dataStorage.compressRefs ?
                            'expand-arrows-alt' : 'compress-arrows-alt'"
                        :title="store.getLocalisedString(store.dataStorage.compressRefs ?
                            currentTexts.expandRef : currentTexts.compressRef)"
                        @click="reverseCompression()"
                    />
                </span>
                <span class="icon"
                    v-if="store.dataStorage.list.crafts.length > 0">
                    <font-awesome-icon
                        :icon="show ? 'chevron-up' : 'chevron-down'"
                        :title="store.getLocalisedString(show ? currentTexts.slideUp : currentTexts.slideDown)"
                        @click="show = !show"
                    />
                </span>
                <span class="icon"
                    v-if="store.dataStorage.list.crafts.length > 0">
                    <font-awesome-icon
                        icon="eraser"
                        :title="store.getLocalisedString(currentTexts.erase)"
                        @click="store.dataStorage.list.clear()"
                    />
                </span>
                <span class="icon"
                    v-if="store.argsProvided">
                    <font-awesome-icon
                        icon="sync"
                        :title="store.getLocalisedString(currentTexts.reload)"
                        @click="reloadAll()"
                    />
                </span>
                </div>
            </div>
            <card :cBase="c" :showBase="show" :child="1"
                v-for="c in store.dataStorage.list.crafts" :key="c.id + '-' + c.qt + '-' + show"
            ></card>
        </div>
    </section>
</template>

<script>
import { store } from "../assets/js/Store.js";
import card from "./Card.vue";
import { texts } from "../assets/js/Localisation.js";

export default {
    name: "Step",
    components: { card },
    data() {
        return {
            store: store,
            show: false,
            currentTexts: texts.components.step,
            texts: texts
        };
    },
    methods: {
        reloadAll() {
            this.store.fetchRecipes(window.location.search, true);
        },
        reverseCompression() {
            this.store.dataStorage.compressRefs = !this.store.dataStorage.compressRefs;
            this.store.dataStorage.processRefs();
        }
    }
};
</script>
