<template>
    <header class="flex-box">
        <div class="logo">
            <a href="/"><img :src="'./assets/img/logo.png'" /></a>
        </div>
        <div class="text">{{ store.getLocalisedString(texts.components.top.gameDataVersion).replace(identifiers.dataVersion, gameDataVersion) }}</div>

        <div class="header-right">
        <a
            v-for="ref in refs"
            :key="ref.link"
            :href='ref.link'
            target="_blank"
            class="ref"
        >
            <img :src="ref.icon"/>
            <span v-if="ref.iteration > 1" class="qt">
                <span class="iteration">{{ ref.iteration }}</span>
            </span>
        </a>
        <a :href="links.gitlab" target="_blank">
            <span class="icon custom-size">
                <font-awesome-icon :icon="['fab', 'gitlab']" size="2x" />
            </span>
        </a>
        <a :href="links.discord" target="_blank">
            <span class="icon custom-size">
                <font-awesome-icon :icon="['fab', 'discord']" size="2x" />
            </span>
        </a>
        <div
            :style="
            'background-image:url(' + './assets/img/lang.png' + ')'
            "
            class="lang"
            :class="'lang-' + store.lang"
            @click.self.stop="show = !show"
        >
            <animslide>
            <div class="ch-lang" v-if="show">
                <div
                    :style="
                        'background-image:url(' +
                        './assets/img/lang.png' +
                        ')'
                    "
                    class="lang lang-0"
                    @click.self.stop="chLang(0)"
                ></div>
                <div
                    :style="
                        'background-image:url(' +
                        './assets/img/lang.png' +
                        ')'
                    "
                    class="lang lang-1"
                    @click.self.stop="chLang(1)"
                ></div>
                <div
                    :style="
                        'background-image:url(' +
                        './assets/img/lang.png' +
                        ')'
                    "
                    class="lang lang-2"
                    @click.self.stop="chLang(2)"
                ></div>
                <div
                    :style="
                        'background-image:url(' +
                        './assets/img/lang.png' +
                        ')'
                    "
                    class="lang lang-3"
                    @click.self.stop="chLang(3)"
                ></div>
            </div>
            </animslide>
        </div>
        </div>
    </header>
</template>

<script>
import { store } from "../assets/js/Store.js";
import animslide from "./Animslide.vue";
import { links, texts, identifiers } from '../assets/js/Localisation.js';
import { gameDataVersion } from '../assets/js/Data.js';

export default {
    name: "Top",
    components: { animslide },
    data() {
        return {
            store: store,
            show: false,
            links: links,
            texts: texts,
            identifiers: identifiers,
            gameDataVersion: gameDataVersion,
        };
    },
    methods: {
        chLang(id) {
            this.store.lang = id;
            this.show = !this.show;
        }
    },
    computed: {
        refs() {
            return this.store.dataStorage.refs.filter(ref => ref.iteration > 0);
        }
    }
};
</script>

<style scoped>
header {
    background: var(--secondary-color) !important;
    border-bottom: 1px solid var(--primary-color) !important;
    width: 100% !important;
    height: 91px !important;
    padding: 0 60px !important;
    margin-bottom: 40px !important;
}

.logo {
    width: 210px;
    height: 60px;
}

.logo img {
    width: 100%;
}

.text {
    color: var(--background-color);
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right div {
    margin-left: 20px;
}

.header-right * {
    margin: 0.25em;
}

.lang {
    position: relative;
    background-size: cover;
    width: 32px;
    height: 21px;
}

.ref img {
    width: 50px;
}
.ref .qt {
    display: inline-block;
    margin: 0;
    width: 0;
    position: relative;
    top: -50px;
    right: 10px;
}
.ref .qt .iteration {
    position: relative;
    right: 16.5px;
    color: var(--secondary-color);
    border-radius: 33%;
    background-color: var(--primary-color);
}

.ch-lang {
    position: absolute;
    background: var(--secondary-color);
    width: 64px;
    top: 50px;
    right: -16px;
    padding-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top: none;
}

.ch-lang .lang {
    margin: auto;
    margin-bottom: 20px;
}

.lang-0 {
    background-position-y: 0;
}

.lang-1 {
    background-position-y: 63px;
}

.lang-2 {
    background-position-y: 42px;
}

.lang-3 {
    background-position-y: 21px;
}
</style>



