<template>
    <BundleHelper :showing="showBundleHelper" :key="!showBundleHelper" />
    <top />
    <div id="container">
        <search />
        <step />
        <shop />
    </div>

    <footer>
        <p>{{ store.getLocalisedString(texts.components.footer.legalComment) }}</p>
    </footer>
    <notifications/>
</template>

<script>
import top from "./components/Top.vue";
import search from "./components/Search.vue";
import step from "./components/Step.vue";
import shop from "./components/Shop.vue";
import BundleHelper from "./components/BundleHelper.vue";
import { store } from "./assets/js/Store.js";
import { notify } from "@kyvg/vue3-notification";
import { texts } from './assets/js/Localisation.js';
import { autoSaveValue, getArgOfCard } from './assets/js/Card.js';
import { waitForCondition } from './assets/js/Utils.js';

export default {
    name: "App",
    components: { top, search, step, shop, BundleHelper },
    data() {
        return {
            crafts: store.dataStorage.list.crafts,
            store: store,
            texts: texts
        };
    },
    created() {
        let language = window.navigator.userLanguage || window.navigator.language;
        if (language.includes("fr")) {
            this.store.lang = 0;
        } else if (language.includes("es")) {
            this.store.lang = 2;
        } else if (language.includes("pt")) {
            this.store.lang = 3;
        } else {
            this.store.lang = 1;
        }
    },
    async mounted() {
        await waitForCondition(() => this.store.dataStorage.storeRelated != null, false);
        this.store.fetchRecipes(window.location.search, true);
        const autoSavedData = getArgOfCard(autoSaveValue, '');
        if (this.showBundleHelper && autoSavedData != null && autoSavedData.length > 0) {
            this.store.dataStorage.fetchRecipes(autoSavedData);
            this.store.autoSavedRestored = true;
            notify(this.store.getLocalisedString(this.texts.notify.autoSavedRestored));
        }
        if (!this.showBundleHelper && autoSavedData == null) {
            notify(this.store.getLocalisedString(this.texts.notify.recipeFetched));
        }
    },
    computed: {
        showBundleHelper() {
            return !this.store.argsProvided && !this.store.autoSavedRestored;
        }
    }
};
</script>

<style>
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    text-decoration: none;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    color: var(--ternary-color);
}

body {
    background: var(--background-color);
}

#app {
    display: flex;
    height: 100vh;
    flex-flow: column;
}

#container {
    flex-grow: 1;
}

a,
a:active {
    color: var(--ternary-color);
    outline: none;
    text-decoration: none;
}

span.icon {
    color: var(--ternary-color);
    transition: color 0.15s;
    margin-left: 5px;
    text-decoration: none;
}

span.icon:not(.custom-size) {
    font-size: 1.1rem;
}

span.icon:not(.icon-only):hover {
    color: var(--primary-color);
}

#container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex;
    min-height: 60%;
}

header {
    min-height: 10%;
}

.base-flex-box {
    display: flex;
    align-items: center;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

section {
    width: 30%;
    box-shadow: 1px 10px 20px rgba(79, 8, 146, 0.281);
}

.section-head {
    background: var(--primary-color);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}

.section-head h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.section-body {
    background: rgba(255, 255, 255, 0.658);
    padding: 10px 10px;
    height: 94%;
    overflow: auto;
}

.toolbar {
    height: 25px;
    margin-bottom: 15px;
}

footer {
    background-color: var(--secondary-color);
    border-top: 1px solid var(--primary-color);
    color: var(--background-color);
    text-align: center;
    white-space: pre-line;
    padding: 20px 30px;
    margin-top: 30px;
    min-height: 10%;
}

footer img {
    margin-bottom: 10px;
}
</style>
